SPRING_PROFILES_ACTIVE=dev

DB_NAME=sem3
DB_USER=sem3
DB_PASSWORD=sem3

# ключ для интеграции Perenual
PERENUAL_API_KEY=sk-p9Z2699cd2982bff015004

# ключ для Pl@ntNet (распознавание растений по фото)
PLANTNET_API_KEY=2b10yR0Wdpp5DhPN8aeC9JTfJO

# проект (flora) Pl@ntNet: обычно 'all'
PLANTNET_PROJECT=all

# (опционально) куда сохранять загруженные фото
APP_STORAGE_DIR=./data